<section id="bottombotiga">
        <div id="itemfirsbotombotiga">
                <div class="bottomM">
                        <picture class="intem_ateneu_img">
                                <source srcset="/rural/web/modules/custom/bottombotiga/img/Mboton-Botiga.png" media="(max-width: 991px)">
                                <source srcset="/rural/web/modules/custom/bottombotiga/img/boton-Botiga.png" media="(min-width: 992px)">
                                <img class="" src="/rural/web/modules/custom/bottombotiga/img/boton-Botiga.png" alt="boton botiga online">
                        </picture>
       
                        <h2 id="tituloBotom">{% trans %}BOTIGA ONLINE{% endtrans %}</h2>
                        <p id="textBotom">{% trans %}
                                Entra aquí per a comprar els nostres productes
                              {% endtrans %}</p>
                </div>
        </div>
</section>
<section id="elijebotiga">
        <sectioin id="content_compraRural_botiga">
                <div id="itemshopSantcu">
                    <div class="arrowshop">
                        <img src="/rural/web/modules/custom/botiga/img/FarrowSancu.png" alt="">
                    </div>
              
                    <div id="iconoSancu">
                      <a href="https://laruraldecollserola.com/botiga" target="_blank"><div id="cercle"></div></a>
                        <div class="bottomBotiga">
                            <div class="imgbottom"> <img id="bottomShopSancu" src="/rural/web/modules/custom/botiga/img/FimgSancu.png" alt="icono shop Sant cugat"> </div>
                        </div>
                        <div class="textIcono">
                            <div id="borderTop"></div>
                            <p class="sancu">SANT CUGAT</p>
                        </div>
                    </div>
                </div>
              
                <div id="itemText">
                  <span>{% trans %}
                    ¿On vols rebre la teva cistella?
                  {% endtrans %}</span>
                </div>
              
                <div id="itemshopBcn">
                  <a href="https://laruraldecollserola.com/barcelona" target="_blank"><div id="cerclebcn"></div></a>
                  <div id="iconoBcn">
                      <div class="bottomBotiga">
                          <div class="imgbottom"> <img id="bottomShopBcn" src="/rural/web/modules/custom/botiga/img/FimgBcn.png" alt="icono shop Barcelona"></div>
                          <!--https://laruraldecollserola.com/barcelona-->
                      </div>
                      <div class="textIcono">
                        <div id="borderTopBcn"></div>
                        <p class="bcn">BARCELONA</p>
                      </div>
                  </div>
                  <div>
                    <img src="/rural/web/modules/custom/botiga/img/FarrowBcn.png" alt="">
                </div>
              </div>
              
              </sectioin>
</section>
